In [4]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [5]:
view = pd.read_csv("melb_data.csv")
home_dat = view

In [6]:
home_dat.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [7]:
home_dat.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [8]:
home_data = home_dat

In [9]:
y = home_data.Price

In [10]:
home_data_features = ['Rooms','Bedroom2','Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [11]:
X = home_data[home_data_features]
X.describe()

,Rooms,Bedroom2,Bathroom,Landsize,Lattitude,Longtitude
count,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,2.914728,1.534242,558.416127,-37.809203,144.995216
std,0.955748,0.965921,0.691712,3990.669241,0.079260,0.103916
min,1.000000,0.000000,0.000000,0.000000,-38.182550,144.431810
25%,2.000000,2.000000,1.000000,177.000000,-37.856822,144.929600
50%,3.000000,3.000000,1.000000,440.000000,-37.802355,145.000100
75%,3.000000,3.000000,2.000000,651.000000,-37.756400,145.058305
max,10.000000,20.000000,8.000000,433014.000000,-37.408530,145.526350

In [12]:
home_model = DecisionTreeRegressor (random_state = 1)
home_model.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [13]:
print("decision for the first ten houses:")
print(X.head(10))
print("The preidicted value are:")
print(home_model.predict(X.head(10)))

decision for the first ten houses:
   Rooms  Bedroom2  Bathroom  Landsize  Lattitude  Longtitude
0      2       2.0       1.0     202.0   -37.7996    144.9984
1      2       2.0       1.0     156.0   -37.8079    144.9934
2      3       3.0       2.0     134.0   -37.8093    144.9944
3      3       3.0       2.0      94.0   -37.7969    144.9969
4      4       3.0       1.0     120.0   -37.8072    144.9941
5      2       2.0       1.0     181.0   -37.8041    144.9953
6      3       4.0       2.0     245.0   -37.8024    144.9993
7      2       2.0       1.0     256.0   -37.8060    144.9954
8      1       1.0       1.0       0.0   -37.8008    144.9973
9      2       3.0       1.0     220.0   -37.8010    144.9989
The preidicted value are:
[1480000. 1035000. 1465000.  850000. 1600000.  941000. 1876000. 1636000.
  300000. 1097000.]

In [14]:
train_X, val_X, train_y, val_y = train_test_split(X,y, test_size = 0.2, random_state = 0)
home_model = DecisionTreeRegressor()
home_model.fit(train_X, train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [15]:
print(val_X.head(10))
print(home_model.predict(val_X.head(10)))

       Rooms  Bedroom2  Bathroom  Landsize  Lattitude  Longtitude
8505       4       4.0       2.0     450.0  -37.86100   144.89850
5523       2       2.0       1.0     172.0  -37.81000   144.88960
12852      3       3.0       1.0     581.0  -37.76740   144.82421
4818       3       2.0       2.0     128.0  -37.85260   145.00710
12812      3       3.0       2.0     480.0  -37.72523   144.94567
2153       4       4.0       2.0     767.0  -37.77350   145.10440
9903       4       4.0       2.0     680.0  -37.61236   144.90753
5105       3       3.0       1.0     696.0  -37.72230   145.01260
6107       3       3.0       2.0     805.0  -37.79660   144.79280
8876       3       3.0       1.0     560.0  -37.66903   145.05091
[1325000.  955000.  610000. 1220000. 1040000. 1225000.  570000.  928000.
  600000.  685000.]

In [16]:
home_prediction = home_model.predict(val_X)
print(mean_absolute_error(val_y, home_prediction))

243952.43176239566

In [18]:
from sklearn.linear_model import LogisticRegression
train_X, val_X, train_y, val_y = train_test_split(X,y, test_size = 0.3, random_state = 1)
home_model = LogisticRegression()
home_model.fit(train_X,train_y )

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [20]:
print(val_X.head())
print(home_model.predict(val_X.head()))

       Rooms  Bedroom2  Bathroom  Landsize  Lattitude  Longtitude
321        4       4.0       3.0     562.0  -37.78200   144.90300
4003       2       2.0       2.0       0.0  -37.81610   144.97120
13348      5       5.0       2.0    1173.0  -37.80385   145.09094
2697       2       2.0       1.0     207.0  -37.79750   144.88550
12600      4       4.0       2.0     722.0  -37.94804   145.00756
[1100000.  800000. 1900000.  600000. 1300000.]

In [22]:
pred = home_model.predict(val_X)

In [32]:
accuracy = accuracy_score(val_y, pred)
print(accuracy)

0.012027491408934709

In [ ]:
count=0
for number in range(1, 10):
    if number % 2 == 0:
        count += 1
        print(number)
print(f'We have {count} numbers')